---
title: Our team
description: >-
  Our team at Wemind is like a bunch of misfit toys, each with our own unique quirks and talents, but when we come together, magic happens! We're like the Island of Misfit Toys, but instead of broken dolls and wind-up robots, we have passionate do-gooders and creative problem solvers. We may not be perfect, but we're perfect for each other!
---

<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
